
html {
	background-image: url(winter_trees.jpg);
	background-repeat: no-repeat;
	background-position: 90%;
}

@font-face {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
}

a:link {
	color: #08088A;
}

a:visited {
	color: #08088A;
}

a:hover {
	color: #EFFBFB;
}

body {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	opacity: 1;
}
h1 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: center; 
	color: #000000;
	border: 2px solid #000000;
}

h2 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: right;
	color: #08088A; 
	border: none;
	margin: 50px 50px 0px 0px;
}

h3 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: right;
	color: #08088A; 
	border: none;
}

#aboutme {
	width: 250px;
	float: right;
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	border: medium dotted #000000;
	padding: 20px 20px 20px 20px;
	text-align: center;
	display: inline;
	margin: 50px 400px 0px 425px;
	background-color: inherit;
	font: 20 bold;
}


#face {
	margin: 60px 800px 0px 50px;
	opacity: 1;
}

img.medium {
	width: 230px;
	height: 372px;
}

#face:hover {
	opacity: 1;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	
}

.twitter-timeline {
	width: 200px;
	float: right;
	margin: 0px 70px 0px 30px;
	align: right;
}

#mail {
	text-align: left;
	margin: 0px 0px 0px 80px;
}

#twitter {
	text-align: left;
	margin: 0px 0px 0px 110px;
}


