
html {
	background-color: #FAFAFA; 
	background-repeat: no-repeat;
	background-position: 100%;
}

@font-face {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	font-weight: normal;
	font-style: normal;
}

a:link {
	color: #08088A;
	text-decoration: none;
}

a:visited {
	color: #08088A;
}

a:hover {
	color: #87CEEB;
}

body {
	width: 1024px;
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	opacity: 1;
}

header {
	height: 70px;
}

h1 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	font-weight: normal;
	text-align: center; 
	font-style: bold;
	color: #000000;
	font-size: 350%;
	float: left;
	margin-top: 10px;
}

h2 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: center;
	color: #08088A; 
	border: none;
	margin: 20px 0 15px 0;
	font-size: 150%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

h3 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: center;
	color: #08088A; 
	border: none;
	margin: 20px 0 15px 0;
	font-size: 15px;
}

#bracket-left, #bracket-right {
	font-size: 120px;
	line-height: 50px;
	height: 50px;
	display: block;
	text-align: baseline;
	color: #ddd;
	margin-top: 10px;
}

#bracket-left {
	float: left;
	margin-left: 80px;
	margin-top: -80px;
}

#bracket-right {
	float: right;
	margin-right: 80px;
	margin-top: -80px;
}

header ul li {
	float: right;
	padding-left: 30px;
	margin-top: 44px;
	font-size: 20px;
}

footer ul li {
	float: left;
	padding-right: 30px;
	margin: 10px 0 0 0px;
	font-size: 20px;
}

#aboutme {
	width: 350px;
	float: center;
	overflow: hidden;
	clear: both;
	display: block;
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	-webkit-border: medium dotted #000000;
	-moz-border: medium dotted #000000;
	-o-border: medium dotted #000000;
	border: medium dotted #000000;
	padding: 20px 20px 20px 20px;
	text-align: center;
	display: inline;
	background-color: inherit;
	font: 20 bold;
}

#face {
	opacity: .7;
	clear: both;
	float: right;
	overflow: hidden;
	display: block;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;	
}

img.medium {
	width: 230px;
	height: 372px;
}

#face:hover {
	opacity: .8;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	color: #ADD8E6;
}

aside {
	float: right;
	margin-top: 30px;
}

.twitter-timeline {
	width: 200px;
	clear: both;
	margin: 20px 70px 0px 30px;

}

#content {
	margin-bottom: 20px;
	overflow: hidden;
	clear: both;
}

section {
	width: 55%;
	float: left;
}


