
body {
	background-color:#CEF6F5
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
}
h1 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: center; 
	color: #000000;
	border: 2px solid #000000;
	
}

h2 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: center;
	color: #58ACFA;
	border-style: none;
}

h3 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	text-align: center;
	color: #084B8A;
	border-style: none;
}

p {
	font-family: "Bodoni MT", Didot, "Didot LT STD", Garamond;
	border: 1px #000000;
	border-style: dotted;
	text-align: center;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	opacity: 0.70px;
}
img hover{
	opacity: 1px;
}

a {
	text-alight: center;
}
